.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    color: var(--pointColor01);
  
    p {
      text-transform: uppercase;
      margin-right: 4rem;
      font-size: 8rem;
      font-family: var(--fontP);
      opacity: 0.5;
    }

    .active {
      opacity: 1;
    }
  }
  
  .intro_detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: var(--pointColor01);
    line-height: 1.5;
    font-size: 1rem;
    font-family: var(--fontPP);
  }