* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--mainBg);
  text-decoration: none;
  list-style: none;
}

#main {
  width: 100%;
  height: calc(100vh - 150px);
}

.noise {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-image: url(../img/noise.gif);
  background-position: 0 0;
  background-size: auto;
  pointer-events: none;
  opacity: 0.05;
  transition: opacity .2s cubic-bezier(.445, .05, .55, .95);
  visibility: visible;
}