:root {
    --fontP: "PP NeueBit";
    --fontPP: "PP Supply Mono";

    --mainBg: #111;
    --mainBg02: #45292F;
    --mainBg03: #2C311F;
    --mainBg04: #21312D;
    --mainBg05: #312C3E;
    --pointBg: #ededff;

    --pointColor01: #777764;
    --pointColor02: #FFACAC;

    --black: #000;
    --black100: #111;
    --black200: #222;
    --black300: #333;
    --black400: #444;
    --black500: #555;
    --black600: #666;
    --black700: #797979;

    --white: #fff;
    --white100: #f9f9f9;
    --white200: #eeeeee;
    --white300: #dfdfdf;
    --white400: #cfcfcf;
    --white500: #c0c0c0;
    --white600: #b5b5b5;

    --step--2: clamp(3.13rem, 2.62rem + 2.51vw, 5.76rem);
  --step--1: clamp(3.75rem, 3.09rem + 3.29vw, 7.20rem);
  --step-0: clamp(4.50rem, 3.64rem + 4.29vw, 9.00rem);
}