body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

/* .section3 {
    width: 100%;
    height: 150vh;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #111;
    overflow-y: auto;
    flex-direction: column;
    color: #ffacac;
    padding: 1rem;
} */


.section3::after {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/noise.gif);
    opacity: 0.051;
    z-index: 100;
    pointer-events: none;
}

.section3 {
    background-color: #000;
    color: #ffacac;
    padding: 100px;
    position: relative;
}

.section3 .text>div:nth-child(1) {
    font-size: 60px;
    font-weight: 900;
    font-family: 'PP NeueBit';
}

.section3 .text>div:nth-child(2) {
    font-family: 'PP NeueBit';
    font-size: 8vw;
    line-height: 0.8;
    padding-left: 5vw;
}

.section3 .text>div:nth-child(3) {
    font-size: 12vw;
    line-height: 0.8;
    padding-left: 8vw;
    margin-top: -1vw;
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

.section3 .img {
    position: relative;
    width: 50%;
    filter: grayscale();
}

.section3 .input {
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

.section3 .input input {
    border: 0;
    background-color: transparent;
    border: 1px solid #ffffff62;
    padding: 5px 10px;
}

.section3 .input button {
    border: 0;
    background-color: transparent;
    border: 1px solid #ffffff62;
    padding: 5px 30px;
    font-family: "scoreDream";
    color: #ffacac
}

.section3 .input .input1 {
    width: 20%;
}

.section3 .input .input2 {
    width: 20%;
}

.section3 .input .input3 {
    width: 40%;
}

.section3 .input button {
    width: 20%;
}

.section3 .comment__wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section3 .comment__wrap .comment {
    max-width: 300px;
    backdrop-filter: blur(10px);
    position: absolute;
    left: 10%;
    bottom: 10%;
    z-index: 1000;
    border: 1px solid #ffffff61;
    border-radius: 10px;
    padding: 20px;
    line-height: 1.7;
    font-family: "scoreDream";
}

.section3 .comment__wrap .comment.c1 {
    left: 10%;
    bottom: 20%;
}

.section3 .comment__wrap .comment.c2 {
    left: 20%;
    bottom: 30%;
}

.section3 .comment__wrap .comment.c3 {
    left: 50%;
    bottom: 40%;
}

.section3 .comment__wrap .comment.c4 {
    left: 70%;
    bottom: 60%;
}

.section3 .comment__wrap .comment.c5 {
    left: 70%;
    bottom: 30%;
}

.section3 .comment__wrap .comment.c6 {
    left: 70%;
    bottom: 30%;
}

.section3 .comment__wrap .comment span em {
    display: inline-block;
    border: 1px solid #ffffff43;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    font-size: 12px;
    font-family: "scoreDream";
}