#header {
    position: fixed;
    left: 0;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    z-index: 1000;
}

#header h1 {
    font-family: 'PP NeueBit';
    color: #FFACAC;
    font-size: 18px;
    line-height: 0.8;
    margin: 20px;
    padding-left: 30px;
}

#header h1::before {
    content: '';
    background-image: url(../img/star2.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 30px;
    top: 29px;
}

#header h1 span {
    display: block;
}

#header nav {
    border: 1px solid #ffacac93;
    padding: 0.8rem 2.2rem;
    border-radius: 100px;
}

#header nav ul {
    display: flex;
}

#header nav li {
    color: #FFACAC;
}

#header nav li a {
    padding: 10px 20px;
    font-family: 'PP NeueBit';
    opacity: 0.5;
    text-transform: uppercase;
}

#header nav li.active a {
    opacity: 1;
}

#header .right {
    border: 1px solid #ffacac93;
    width: 40px;
    height: 40px;
    background-image: url(../img/eye.webp);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50px;
    cursor: pointer;
}