body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #111;
}

/* 기본 테마 */
body.default-theme {
    background: #111;
}

body.default-theme #header h1 {
    color: #ffacac;
}

body.default-theme #header .mainNav {
    border-color: #ffacac93;
}

body.default-theme #header .mainNav li {
    color: #ffacac;
}

body.default-theme #header .right {
    border-color: #ffacac93;
    background-image: url('../img/svg/eye.svg');
}

/* 대체 테마 */
.alternate-theme {
    color: #00ffac;
}

body.alternate-theme #header h1 {
    color: #00ffac;
}

body.alternate-theme #header .mainNav {
    border-color: #00ffac93;
}

body.alternate-theme #header .mainNav li {
    color: #00ffac;
}

body.alternate-theme #header .right {
    border-color: #00ffac93;
    background-image: url('../img/svg/alternate-eye.svg');
}


#header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    z-index: 1000;
}

#header h1 {
    font-family: "PP NeueBit";
    color: #ffacac;
    font-size: 18px;
    line-height: 0.8;
    margin: 20px;
    padding-left: 30px;
}

#header h1::before {
    content: "";
    background-image: url(../img/svg/star2.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 30px;
    top: 29px;
}

#header h1 span {
    display: block;
}

#header .mainNav {
    border: 1px solid #ffacac93;
    padding: 0.8rem 2.2rem;
    border-radius: 100px;
}

#header .mainNav ul {
    display: flex;
}

#header .mainNav li {
    color: #ffacac;
}

#header .mainNav li a {
    padding: 10px 20px;
    font-family: "PP NeueBit";
    opacity: 0.5;
    text-transform: uppercase;
}

#header .mainNav li.active a {
    opacity: 1;
}

#header .right {
    border: 1px solid #ffacac93;
    width: 40px;
    height: 40px;
    background-image: url(../img/svg/eye.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20px;
}

#section1 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    overflow: hidden;
}

#section1::after {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/noise.gif);
    opacity: 0.051;
    z-index: 10000;
    pointer-events: none;
}

#section1 .top {
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ffacac31;
    color: #ffacac;
    white-space: nowrap;
    overflow: hidden;
    background-color: #0000004f;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

#footer span {
    position: relative;
    padding-right: 30px;
    padding-left: 1px;
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    animation: marquee 10s linear infinite;
}

#footer span::after {
    content: "";
    background-image: url(../img/svg/star.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: -2px;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}