#section2 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
    background-color: #111;
    overflow: auto;
    list-style: none;
}

#section2::after {
    content: "";
    width: 100%;
    height: 170vh;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/noise.gif);
    opacity: 0.051;
    z-index: 10;
    pointer-events: none;
}

.card_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
}

.card {
    width: 20vw;
    max-width: 250px;
    height: 75vh;
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: grayscale(1) opacity(0.1) contrast(200%);
    transition: 0.5s;
    transform: skewY(-10deg);
    z-index: 1;
    position: relative;
}

.card.highlight {
    filter: grayscale(0) opacity(1);
    transform: scale(1.1);
    box-shadow: 0 25px 50px black;
    z-index: 100;
}

.description {
    display: none;
    position: absolute;
    top: 0;
    width: 64%;
    height: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    transition: opacity 0.5s ease;
    opacity: 0;
    text-align: center;
    align-items: center;
    padding-top: 5rem;
    font-size: 1rem;
    font-family: 'IropkeBatang';
}

.description h3 {
    margin-bottom: 1rem;
}

.description .link_desc {
    margin-top: 1rem;
}

.description .link_desc a {
    border: 1px solid #fff;
    padding: 0 0.5rem;
}

.description .link_desc a:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}

.card.highlight .description {
    display: block;
    opacity: 1;
}

.card.highlight.left .description {
    right: -160px;
}

.card.highlight.right .description {
    left: -160px;
}

@media (orientation: portrait) {
    .card_wrap {
        grid-template-columns: 1fr;
    }

    .description {
        display: none !important;
    }

    .card {
        width: 75vw;
        max-width: 75vw;
        height: 20vh;
        margin: 1rem 0;
        background-size: 100% auto;
        background-position: 50% 0%;
        transform: skewX(-10deg);
    }

    .card:nth-child(1) {
        background-position: 50% 10%;
    }

    .card:nth-child(3) {
        background-position: 50% 20%;
    }

    .card:nth-child(4) {
        background-position: 50% 10%;
    }
}

.card.card-01 {
    background-image: url("https://images.unsplash.com/photo-1529778873920-4da4926a72c2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8OHx8fGVufDB8fHx8fA%3D%3D");
}

.card.card-02 {
    background-image: url("https://images.unsplash.com/photo-1535083783855-76ae62b2914e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fHw%3D");
}

.card.card-03 {
    background-image: url("https://images.unsplash.com/photo-1519664824562-b4bc73f9795a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTF8fHxlbnwwfHx8fHw%3D");
}

.card.card-04 {
    background-image: url("https://images.unsplash.com/photo-1489084917528-a57e68a79a1e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fHw%3D");
}

.card.card-05 {
    background-image: url("https://images.unsplash.com/photo-1492534513006-37715f336a39?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTd8fHxlbnwwfHx8fHw%3D");
}

.card.card-06 {
    background-image: url("https://images.unsplash.com/photo-1521651201144-634f700b36ef?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTh8fHxlbnwwfHx8fHw%3D");
}

.card.card-07 {
    background-image: url("https://images.unsplash.com/photo-1607274134639-043342705e6f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjB8fHxlbnwwfHx8fHw%3D");
}

.card.card-08 {
    background-image: url("https://images.unsplash.com/photo-1529654674248-a940ce22fe51?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTZ8fHxlbnwwfHx8fHw%3D");
}

.card.card-01::after,
.card.card-02::after,
.card.card-03::after,
.card.card-04::after,
.card.card-05::after,
.card.card-06::after,
.card.card-07::after,
.card.card-08::after {
    content: "NAME";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    color: white;
    text-shadow: 3px 3px #555;
}

.card.card-01::after {
    content: "01";
}

.card.card-02::after {
    content: "02";
}

.card.card-03::after {
    content: "03";
}

.card.card-04::after {
    content: "04";
}

.card.card-05::after {
    content: "05";
}

.card.card-06::after {
    content: "06";
}

.card.card-07::after {
    content: "07";
}

.card.card-08::after {
    content: "08";
}